<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./js/app.js" type="application/javascript" defer></script>
  </head>
  <body>
    <h1>Logg inn</h1>
    <label for="epost">Epost</label>
    <input type="email" id="email"/>
    <br />
    <label for="passord">Passord</label>
    <input type="password" id="password" />
    <br />
    <button onclick="getUserInfo()">Logg inn</button>
    <br />
    <a href="glemtPassord">Glemt passord?</a>
    <br />
    <a href="nyBruker">Ny bruker?</a>
  </body>
</html>
