<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/newUser.js" defer></script>
</head>
<body>
    <h1>Ny bruker</h1>
    <label for="epost">Epost</label>
    <input type="email" />
    <br />
    <label for="passord">Passord</label>
    <input type="password" />
    <br>
    <label for="repeatPassword">Gjenta passord</label>
    <input type="repeatPassword" />
<br>
    <button>Lag bruker</button>
</body>
</html>